.chat-main
  .group-info
    .group-info__left
      .group-info__left-groupname
        = @group_name
      .group-info__left-member
        Member:
        - @group_users.each do |group_users|
          = group_users.name
    .group-info__right
      = link_to "/groups/#{@group_id}/edit", class: "group-info__right-edit" do
        Edit

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'